@import url(http://fonts.googleapis.com/css?family=Rokkitt);
 h1 {
    font-family:'Rokkitt', serif;
    text-align: center;
}
ul {
    list-style: none;
}
li {
    font-family:'Rokkitt', serif;
    font-size: 2em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
p {
    font-family:'Rokkitt', serif;
}
/* Quiz Classes */
 .quizContainer {
    background-color: lightblue;
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    position: relative;
}
.nextButton {
    border-radius: 6px;
    max-width: 300px;
    height: 40px;
    text-align: center;
    background-color: white;
    /*clear: both;*/
    color: black;
    font-family:'Rokkitt', serif;
    font-size: 20pt;
    position: relative;
    margin: auto;
    padding-top: 15px;
    margin-bottom: 15px;
}
/*
.nextButton:hover{
    background-color: #494995;
}*/


.question {
    font-family:'Rokkitt', serif;
    font-size: 28pt;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: transparent;
    text-align: center;
}
.quizMessage {
    background-color: transparent;
    border-radius: 6px;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 16pt;
    font-family:'Rokkitt', serif;
    color: red;
}
.choiceList {
    font-family: Courier, serif;
    color: blueviolet;
    padding-right: 60px;
}
.result {
    width: 60%;
    height: auto;
    border-radius: 6px;
    background-color: transparent;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-family:'Rokkitt', serif;
    font-size: 16pt;
}

input:checked + label {
    color: #74c4ed;
}

button{
    text-shadow:none !important;
    border:none !important;
    box-shadow:none !important;
    float: auto;
    background-color: #494995;
    color: white;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    font-size: 14pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

button:hover{
    color: #74c4ed;
}